<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>App 2.0</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <!--<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">-->
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="./js/config.js"></script>
    <script>
//        解决ios safari浏览器双指放大问题
        window.onload=function () {
            document.addEventListener('touchstart',function (event) {
                if(event.touches.length>1){
                    event.preventDefault();
                }
            })
            var lastTouchEnd=0;
            document.addEventListener('touchend',function (event) {
                var now=(new Date()).getTime();
                if(now-lastTouchEnd<=300){
                    event.preventDefault();
                }
                lastTouchEnd=now;
            },false)
        }

    </script>
</body>

</html>
